<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top border-bottom">

    <a class="navbar-brand" href="/">
      <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="30" alt="mdb logo">
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  

    <!-- Links -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Right -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="ek-hizmetler" class="nav-link waves-effect" target="_self">
            Ek Hizmetler
          </a>
        </li>
        
        
        <li class="nav-item">
          <a href="nasil-calisir" class="nav-link waves-effect" target="_self">
            Nasıl Çalışır?
          </a>
        </li>
        <li class="nav-item">
          <a href="iletisim" class="nav-link waves-effect" target="_self">
            İletişim
          </a>
        </li>
        <li class="nav-item">
          <a href="giris-yap" class="nav-link waves-effect" target="_self">
            Giriş Yap
          </a>
        </li>
        <li class="nav-item pl-2 mb-2 mb-md-0">
          <a href="kayit-ol" type="button"
            class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light"
            target="_self">Kayıt Ol</a>
        </li>
      </ul>

    </div>
    <!-- Links -->

  </nav>