{% include "layout.html" %}
{% block body %}
<br><br>
<div class="container">
    <div class="row h-100 bg-light">
        <div class="col-sm my-auto">
            <lottie-player src="https://assets9.lottiefiles.com/temp/lf20_CP7ooz.json"  background="transparent"  speed="1"  style="width: 300px; height: auto;"   autoplay></lottie-player>
        </div>
        <div class="col-sm my-auto">
            <h1>Robotlarımız Emrinizde!</h1>
            <p>Yapay zeka sahibi robotlarımız öncelikle kullanıcılarımızın ikinci el nasıl bir ürün almak istediklerini öğrenirler.</p>
        </div>
    </div>
    <br><br>
    <div class="row h-100 bg-light">
        <div class="col-sm my-auto mx-auto">
            <h1>Derin Bir Araştırma!</h1>
            <p>Sizin istediğiniz özellikleri öğrenen yapay zeka sistemi aldığı verilerle en popüler 2.el satış sitelerinde arama başlatır.</p>
        </div>
        <div class="col-sm my-auto">
            <lottie-player class="mx-auto" src="https://assets6.lottiefiles.com/packages/lf20_FWoMG3.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"    autoplay></lottie-player>
        </div>
    </div>
    <br><br>
    <div class="row h-100 bg-light">
        <div class="col-sm my-auto">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_F4JpWs.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  autoplay></lottie-player>
        </div>
        <div class="col-sm my-auto">
            <h1>Son Bir Kontrol!</h1>
            <p>Robotlarımız her ne kadar iyi çalışsalarda size mükemmeli sunmak istiyoruz ve piyasa uzmanlarımız tarafından robotlarımızın bulduğu ürünler son bir kez kontrol ediliyor.</p>
        </div>
    </div>
    <br><br>
    <div class="row h-100 bg-light">
        <div class="col-sm my-auto mx-auto">
            <h1>Mutlu Son!</h1>
            <p>Size en uygun 2. el ürün bulundu. Sizin için bulduğumuz ürüne isterseniz emailinizden isterseniz internet sitemizden ulaşabilirsiniz!</p>
        </div>
        <div class="col-sm my-auto">
            <lottie-player class="mx-auto" src="https://assets4.lottiefiles.com/packages/lf20_tDEN64.json"  background="transparent"  speed="0.5"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
    </div>
</div>

{% endblock body %}